#content, #blueigdiud, .sidebar, .box-4{
    display: none;
    transition: display 1s;
}

.loader-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(160px);
    z-index: -1;
}

.loader {
  display: inline-block;
  width: 530px;
  height: 530px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
  border-radius: 13px;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;

  border-radius: 13px;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}