@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Urbanist:ital,wght@0,100;0,400;0,600;0,900;1,100;1,400;1,600&display=swap');

*{
  color: lightgray;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 3px;
}

body{
  background: linear-gradient(47deg, #116466 59%, rgb(65, 82, 94) 82%);
  zoom: 75%;
}

.box-3{
  display: flex;
  justify-content: center;
  height: 100%;
}

header{
  margin-bottom: 40px;
  margin-top: 15px;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1{
  margin-left: 40px;
  font-weight: 600;
  font-size: 32px;
  user-select: none;
}

.search-cont{
  display: flex;
}

.input{
  background: rgba(37,45,51,1) ;
  font-size: 30px;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.1);
  border: none;
  outline: none;
  position: relative;
  top: 10px;
  width: 500px;
  opacity: 0.8;
  user-select: none;
}

.input:active, .input:hover{
  box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.20);
  cursor: pointer;
  outline: none;
}

#search-button{
  margin: 0px;
  margin-right: 40px;
  padding: 0px;
  border: none;
  background: rgb(65, 82, 94);
}

#search-button i{
  color: rgb(255, 255, 255);
  background: rgb(133, 20, 75);
  padding: 18px;
  font-size: 30px;
  border-radius: 100%;
  margin-left: 30px;
  box-shadow: -1px 12px 15px 0px rgba(0,0,0,0.3);
  transition: box-shadow 0.5s, background 0.5s;

}

#search-button:hover{
    cursor: pointer;
}

#search-button i:hover{
  background: rgb(66, 7, 35);
  /* background: #b39f8e; */
  box-shadow: -1px 12px 15px 0px rgba(0,0,0,0.3);
}

.box-2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-end;
  max-width: 2300px;
  margin: 0 100px;
  margin-left: 6px;
}

.movie{
  flex:1 1 15%;
  margin: 10px;
  user-select: none;
  margin-bottom: 70px;
}

.movie >*{
  margin-left: 20px;
}

.container{
  height: 450px;
}

.poster{
  width: 290px;
  box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.37);
  transition: box-shadow 0.5s;
  border-radius: 8px;
}

.poster:hover, .poster:active{
  box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.87);
  cursor: pointer;
}

.box-1{
  display: flex;
  justify-content: center;
  width: 275px;
}

.title{
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  position: relative;
  bottom: 10px;
  letter-spacing: 2px;
  width: 290px;
}


.date{
  position: relative;
  bottom: 25px;
  font-size: 13px;
  color: rgb(129, 159, 184);
}

#locks {
  color: aqua;

}

.box-4{
  margin-left: 290px;

}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(37, 45, 51); 
}

::-webkit-scrollbar-thumb {
  background: rgb(179, 179, 179); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(102, 101, 101); 
}
/* 26s */
@media screen and (max-width: 1051px) {
  header h1{
    display: none;
  }

  .search-cont{
    width: 80%;
  }

  header{
    justify-content: center;
  }

  .input{
    width: 100%;
  }

  .box-2{
    margin-left: 100px;
  }

  .box-4{
    margin-left: 100px;
  }

  #search-button{
    display: none;
  }

  .sidebar-top span{
    display: none;
  }

  .fa-user-astronaut{
    position: relative;
    right: 25px;
  }

}