@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";


.slider-cont{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.media-scroller {
    --_spacer: var(--size-3);
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
    grid-auto-columns: 13%;
    margin: 70px 0px 0px 0px;
    padding: 0 var(--_spacer) var(--_spacer);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    max-width: 2600px;
}

.media-scroller--with-groups {
    grid-auto-columns: 90%;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer, 1rem);
}
  
.snaps-inline > * {
    scroll-snap-align: start;
}

.media-element {
    grid-template-rows: min-content;
    padding: var(--_spacer);
    min-width: 564px;
    max-width: 564px;
}

.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
}

.media-element > img {
    height: 435px;
    box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.4);
    border: none;
    user-select: none;
    transition: box-shadow 0.3s;
    margin-bottom: 50px;
    width: 294.77px;
    border-radius: 8px;
}

.media-element > img:hover{
    cursor: pointer;
    box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.9);
}

@media screen and (max-width: 1799px) {
    .media-scroller {
        grid-auto-columns: 18%;
    }
}

@media screen and (max-width: 997px) {
    .media-scroller {
        grid-auto-columns: 23%;
    }
}

@media screen and (max-width: 997px) {
    .media-scroller {
        grid-auto-columns: 29%;
    }
}
